Real World HTTPを読む

理解が難しい所や今理解する必要がなさそうな所は「さら読み」
重要そうな部分は別途技術書で理解を深めるなどする。


- [x] 1章 : HTTP/1.0の世界 : 基本となる4つの要素
- [x] 2章 : HTTP/1.0のセマンティクス・ブラウザの基本機能の裏側
- [x] 3章 : Go言語によるHTTP/1.0クライアントの実装
- [x] 4章 : HTTP/1.1のシンタックス : 高速化と安全性を求めた拡張
- [x] 5章 : HTTP/1.1のセマンティクス : 広がるHTTPの用途
- [ ] 6章 : GO言語によるHTTP/1.1クライアントの実装（後回し）
- [ ] 7章 : HTTP/2、HTTP/3のシンタックス : プロトコルの再定義
- [ ] 8章 : HTTP/2のセマンティクス : 新しいユースケース
- [ ] 9章 : Go言語によるHTTP/2、HTML 5のプロトコルの実装
- [ ] 10章 : クライアント視点で見る Restful API
- [ ] 11章 : JavaScriptによるブラウザからの動的なHTTPリクエスト
- [ ] 12章 : ウェブアプリケーションの基礎
- [ ] 13章 : クラウド時代のHTTP : WEBを強くする様々な技術
- [ ] 14章 : セキュリティ : ブラウザを守るHTTPの機能

##  1章 : HTTP/1.0の世界 : 基本となる4つの要素

- メソッドとパス
- ヘッダー
- ボディ
- ステータス

RFC（Request For Comment）なのに、仕様書って何で？という疑問に早速答えてくれてる。

> HTTPの仕様は後方互換性を維持するように作られていますが、セキュリティ関連のもの以外はなるべく新しい方を使う方が良いでしょう

**セキュリティ関連のヘッダーイマイチ理解してないな〜〜**

HTTPは、電子メールから  ヘッダー + 本文 を、NNTP（Network News Transfer Protocol）からメソッドとステータスを導入したのか。そして、全ての始まりとしては電子メールから。

### ステータスコード

100番台 : 処理中の情報の伝達。そこそこ特殊なユースケース。

200番台 : 成功時のレスポンス。

300番台 : サーバーからクライアントへの命令。リダイレクトやキャッシュの利用を指示。（エラーではなく、あくまで正常処理の範疇）

400番台 : クライアントから送られたリクエストに不備がある場合に渡されるもの

500番台 : サーバー内部でエラーが発生した場合にクライアントに渡されるもの

### リダイレクト

|ステータス | メソッド変更 | 永続的 or 一時的 | キャッシュ | 説明
| ---- | ---- | ---- | ---- | ---- |
| 301 (Moved Premanently) | ◯ | 永続的 | する | ドメイン移転、ウェブサイト引っ越し、HTTPS化
| 302 (Found) | ◯ | 一時的 | 指示があれば | 一時メンテナンス、モバイルページ転送
| 303 (See other) | 許可 | 永続的 | しない | ログイン後のページ遷移
| 307 (Temporary Redirect) |   | 一時的 | 指示があれば | RFC7231で追加
| 308 (Moved Redirect) |   | 永続的 | する| RFC7538で追加

301/308 -> リクエストされたページが別の場所へ移動した場合に使用する。（Googleは検索エンジン側にページ移動を伝える手段として、301を推奨）

302/307 -> 一時的な移動（モバイル専用サイトに移動、メンテナンスページの表示）

303 -> リクエストされたページには返すべきコンテンツが存在しない or 本来返すべきページが別にある場合に遷移させる。

ステータスコードが301、302、303で、GET以外のメソッドだった場合はGETメソッドでリダイレクトを送り直す。
👉 そのため、メソッド変更に許可が必要なステータスコード 307 308 が追加されている。

> なぜNext.jsは307と308を使うのですか？従来、一時的なリダイレクトには302、恒久的なリダイレクトには301が使われていましたが、多くのブラウザは元のメソッドに関係なく、リダイレクトのリクエストメソッドをGETに変更しました。たとえば、ブラウザがPOST /v1/usersリクエストを行い、ステータスコード302と location/v2/users を返した場合、その後のリクエストは期待されたPOST /v2/users ではなくGET /v2/usersになるかもしれません。Next.jsは、307一時リダイレクトと308永久リダイレクトのステータスコードを使って、使用されたリクエストメソッドを明示的に保持します。
>
> permanentをtrueにするとステータスコードは308となり、リダイレクトがキャッシュに保存されます。falseにするとステータスコードは307となり、リダイレクトはキャッシュされません。
https://nextjs.org/docs/pages/api-reference/next-config-js/redirects

### URL 

- URL構造におけるクエリーの部分で使用できる文字はパーセントコーディングっていうのか。
（ただのURLエンコードかと思ってた）
👉 JSなら `encodeURIComponent()` とか `URLSearchParams` で対応

- URLを構成する文字列は ASCII。（RFC2718において、UTF-8を用いてパーセントコーディングすることで日本語も対応可能） -> 最近のブラウザはデコードした文字列が表示されることが多くなった。

- 漢字一文字 -> UTF-8で3バイド -> パーフェクトコーディングで9バイド（ぬおっ）


### URL 

URL構造におけるクエリーの部分で使用できる文字はパーセントコーディングっていうのか。
（ただのURLエンコードかと思ってた）
👉 JSなら `encodeURIComponent()` とか `URLSearchParams` で対応

##  2章 : HTTP/1.0のセマンティクス・ブラウザの基本機能の裏側

### シンプルなフォームの送信（`x-www-form-urlencoded`)
ファイル送信に必要な情報全てを送ることは出来ない。（ファイル名のみが送信されてしまう）

```html
<from method="POST">
  <input name="title" />
  <input name="author" />
  <input name="submit />
</form>
```

```bash
curl --http1.0 --data-urlencode title="Head First PHP & MySQL" --data-urlencode author="Lynn Beightley, Michel Morrion" http://locahost:18888

// output
title=Head+First+PHP+%26+MySQL&author=Lynn+Beightley%2C+Michel+Morrion
```

### フォームを使ったファイルの送信（`multipart/form-data`)
項目ごとに、追加のメタ情報をタグとして保持することができる。
`@ファイル名`は x-www-form-urlencode でも使用できる。（その場合はファイル名ではなくファイルの内容が展開されて送信される）

```bash
curl --http1.0 -F title="Head First PHP & MySQL" -F author="Lynn Beightley, Michel Morrion". -F attachment-file=@test.txt http://localhost:18888

// output
POST / HTTP/1.0
Host: localhost:18888
Connection: close
Accept: */*
Content-Length: 444
Content-Type: multipart/form-data; boundary=------------------------85380971a6fac188
User-Agent: curl/7.77.0

--------------------------85380971a6fac188
Content-Disposition: form-data; name="title"

Head First PHP & MySQL
--------------------------85380971a6fac188
Content-Disposition: form-data; name="author"

Lynn Beightley, Michel Morrion.
--------------------------85380971a6fac188
Content-Disposition: form-data; name="attachment-file"; filename="test.txt"
Content-Type: text/plain

hello
--------------------------85380971a6fac188--
```


コンテントネゴシエーション！？始めて聞きました（白目）

# Cookie & Session

![image](https://github.com/yanachuwan9sm/til/assets/95360878/f0f4756f-b464-44ee-9c91-28195b84b81a)
https://zenn.dev/ritou/articles/b5cfeef911f9b3

## What`s is Cookie?

**(set-cookieを)送ったら次から(Cookieとして）送り返してくるヤツ。**
👉 ブラウザは Set-Cookie してきたサイトを覚えておき、そのサイトにアクセスするたびに Cookie ヘッダで自動で送り返す。
👉 いわゆる画面に表示される URL だけではなく、そのサブリソース（image/JavaScript/iFlame)にも適用される。

> 一意な値を Cookie として付与すれば、ユーザが 区別 できるが、この時点では 識別 はしてない
>
> 最近の EC サービスは、ログインしていなくてもショッピングカートに追加でき、決済直前で認証を挟む実装が多いが、これは先にカートのための 区別 を行い、あとから 識別 していることになる。
> 
> **Cookie とは必ずしも認証結果というわけではなく、ユーザ同士が 区別 できれば良いだけのユースケースもあるというのが、 Cookie の使い方を考える上で非常に大事なこと**だ。
[3PCA 2 日目: Cookie による区別と識別 | blog.jxck.io](https://blog.jxck.io/entries/2023-12-02/3pca-cookie.html)

## What`s Session?

セッション 👉 サーバー側にデータを保存する仕組み。（サーバーがユーザーの情報や状態をセッションID（番号）として記憶しておくためのもの）

## Cookie と Session の違い

ヘッダの中に情報を入れて相手を識別する点では全く同じです。
それがCookieの場合は丸裸の情報になっていて、セッションの場合は受付番号になっているかの違い。

## Cookie主なユースケース

### クッキーを使ったセッション管理

（HTTPはその時の要求に対しての応答を返すだけで、前回の状態を保持できないステートレスなプロトコルであるため）**クライアントとサーバーの間のセッション状態を保持する方式として Cookie & Sessionを用いる**必要がある。

**そのセッション情報（セッションID）をどこ（セッションストレージ）に保存するかで大きく三種類ある。**
👉 **クッキーにする？Redisにする？サーバーのメモリにする？**

● CookieStore（クッキー方式）

- セッション情報を全て暗号化してクライアントのCookieに保存する。（今回のトピックにあたるもの）
- クライアントで完結するため、セッションストレージとしてのサーバーは不要
- クライアントのCookieに保存されているため、データベースへのアクセスが不要（処理が高速）
- データサイズの制限がある。（Cookieは最大で4kBまでの情報しか保存できない。）
- すべての情報をクッキーに入れるので、クッキーの情報がコピーされて盗まれたら、サーバーとのセッションも偽装されてしまう。

● Redis（インメモリ方式）

- Redisや他のKey-Value型のデータベースにセッションIDとセッション情報を保存し、クライアントのCookieにはセッションIDのみを保存しする（リクエストで受け取ったセッションIDを使用してRedisから情報を取得）
- 処理が高速であり、情報漏洩のリスクが低い
- 容量制限がない & サーバー側でセッションクリアができる。
- リクエストごとにDBアクセスのI/Oコストが発生 ＆ メモリを使い果たすと書き込みが全てエラーになる。

● DB（データベース方式）

- インメモリ方式と同様にセッションIDとセッション情報を保存しますが、データベースに保存する。
- クライアントのCookieにはセッションIDのみを保存します。
- クライアントからのリクエストで受け取ったセッションIDを使用してデータベースから情報を取得します。
- **インメモリやクッキーと比べてデータの取得が遅くなる場合がある。**
- セッションの期限付き発行やセッションの永続性に他のソリューションと比較した場合に長けている。

以下はRedis（またはDB）の場合の処理の一連の流れ。

1. セッションを識別するためのID（セッションID）を生成する。（このセッションIDは一意の値であり、セッションを識別するためのキーとなる）
2. レスポンス時に、セッションID（通常、暗号化や署名を行い保護する）をクライアント側の Cookie に保存する（`Set-Cookie`）。
3. クライアントからの通信リクエストがあると、サーバー側はCookieからセッションIDを読み取る。
4. 読み取ったセッションIDを使用して、サーバー側のセッションストレージ（データベースやメモリなど）からセッション情報を取得する。（セッション情報にはユーザー情報や処理状況などの様々なデータが紐付いてる）
5. サーバー側は取得したセッション情報を利用してリクエストの処理を行います。必要に応じてセッション情報を更新または保存します。
6. レスポンスがクライアントに返される際には、必要に応じてセッションIDをCookieに再度設定します。

[Node.js Expressでの安全なセッション管理](https://viblo.asia/p/nodejs-express%E3%81%A7%E3%81%AE%E5%AE%89%E5%85%A8%E3%81%AA%E3%82%BB%E3%83%83%E3%82%B7%E3%83%A7%E3%83%B3%E7%AE%A1%E7%90%86-yZjJYxY64OE)

[ユーザーのセッション情報をスケーラブルに保つ 2 つの方法 #JavaScript - Qiita](https://qiita.com/G-awa/items/ebb6e214ed45f27e5de2)

### 署名付きクッキーによるセッションデータの保存

署名付きURL と 署名付きクッキー の違い あんまり理解してないかもしれない。

署名付きクッキー
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-signed-cookies.html#private-content-how-signed-cookies-work
https://zenn.dev/tera_ny/articles/034c2cca6674b3

[セッション認証とトークン認証について](https://zenn.dev/oreilly_ota/articles/31d66fab5c184e)

### 3rd Party Cookie 

3rd party cookieとは？については以下の記事がめちゃめちゃ分かりやすい。
https://blog.jxck.io/entries/2023-12-04/3pca-3rd-party-cookie.html

3rd party Cookie廃止するね〜（[参考](https://developers.google.com/privacy-sandbox/blog/cookie-countdown-2023oct?hl=ja#chrome-testing))
[これ](https://developers.google.com/privacy-sandbox/blog/cookie-countdown-2023oct?hl=ja#test)で簡単な確認はできそう。


## cache



## (memo)セッション管理の主な流れ
```
● セッションを識別するためのID（セッションID）を生成します。このセッションIDは一意の値であり、セッションを識別するためのキーとなります。

● セッションIDをクライアントのCookieに保存します。通常、セッションIDは暗号化や署名などの手法を用いて保護されます。

● クライアントからの通信リクエストがあると、サーバー側はCookieからセッションIDを読み取ります。

● 読み取ったセッションIDを使用して、サーバー側のセッションストレージ（データベースやメモリなど）からセッション情報を取得します。セッション情報にはユーザー情報や処理状況などの様々なデータが紐付いています。

● サーバー側は取得したセッション情報を利用してリクエストの処理を行います。必要に応じてセッション情報を更新または保存します。

● レスポンスがクライアントに返される際には、必要に応じてセッションIDをCookieに再度設定します。
```

# HTTP Cache 

> HTTP キャッシュの動作は、[リクエスト ヘッダー](https://developer.mozilla.org/docs/Glossary/Request_header)と[レスポンス ヘッダー](https://developer.mozilla.org/docs/Glossary/Response_header)の組み合わせで制御されます。ウェブ アプリケーションのコード（リクエスト ヘッダーを決定）とウェブサーバーの構成（レスポンス ヘッダーを決定）の両方を制御するのが理想的

## リクエスト ヘッダーにおけるキャッシュ制御

**デフォルト設定（ブラウザ）のままが一般的。**

ほとんどの場合、ブラウザがリクエストを行う際に、ユーザーに代わってそれらのヘッダーを設定している。

更新頻度のチェックに影響するリクエスト ヘッダー（[If-None-Match](https://developer.mozilla.org/docs/Web/HTTP/Headers/If-None-Match) や [If-Modified-Since](https://developer.mozilla.org/docs/Web/HTTP/Headers/If-Modified-Since) など）は、HTTP キャッシュ内の現在の値に対するブラウザの認識に基づいて表示されます。


## レスポンスヘッダーにおけるキャッシュ制御

**ウェブサーバーがレスポンスを送信する際に、明示的にヘッダーを追加し、細かく制御する必要がある。**

（ちなみに、ブラウザは、そのコンテンツ タイプに最も適したキャッシュ動作のタイプを[実質的に推測](https://www.mnot.net/blog/2017/03/16/browser-caching#heuristic-freshness)するため、Cache-Control レスポンス ヘッダーを省略しても HTTP キャッシュは無効にならない）

キャッシュを制御する主なヘッダーは以下の3通り。また、考慮するべき優先度は Cache Control > ETag > Last-Modified 。

### [Cache-Control](https://developer.mozilla.org/docs/Web/HTTP/Headers/Cache-Control): 

サーバーは Cache-Control ディレクティブを返して、ブラウザやその他の中間キャッシュが個々のレスポンスをキャッシュに保存する方法と保存期間を指定できます。

- `Cache-Control: no-cache` 👉 使用前にサーバーで再検証する必要があるリソースに使用。
- `Cache-Control: no-store` 👉 キャッシュに保存しないリソースに使用。
- `Cache-Control: max-age=31536000` 👉 バージョニングされたリソース用。

Cache-Control 値 | 説明
-- | --
max-age=86400 | レスポンスは、最大 1 日間（60 秒 x 60 分 x 24 時間）ブラウザおよび中継キャッシュでキャッシュに保存できます。
private, max-age=600 | レスポンスはブラウザで最大 10 分（60 秒 x 10 分）キャッシュに保存できますが、中継キャッシュは保存できません。
public, max-age=31536000 | レスポンスは、任意のキャッシュに 1 年間保存できます。
no-store | レスポンスをキャッシュに保存することはできず、リクエストごとに完全に取得する必要があります。

[ RFC 5861 - 古いコンテンツ用のHTTPキャッシュコントロール拡張](https://tex2e.github.io/rfc-translater/html/rfc5861.html)にて追加された `stale-while-revalidate`を用いる事で、**キャッシュが古くなった時一旦はそれをユーザーに見せながら裏で最新のデータを取得することで、サーバーへのリクエストにかかる時間をユーザーから隠蔽できる**のが嬉しい。

![image](https://github.com/yanachuwan9sm/til/assets/95360878/e055aa68-928e-4cef-be67-58bc1212c6ba)

しかし、主要ブラウザーにおいて、[全て対応されている訳ではない](https://developer.mozilla.org/ja/docs/Web/HTTP/Headers/Cache-Control#%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6%E3%83%BC%E3%81%AE%E4%BA%92%E6%8F%9B%E6%80%A7)ことがマイナスポイント。

ETag と Last-Modified はどちらも同じ目的を果たし、期限切れのキャッシュ ファイルを再ダウンロードする必要があるかどうかをブラウザが判断する。（ETag は、精度が高いため推奨される方法）

### [ETag](https://developer.mozilla.org/docs/Web/HTTP/Headers/ETag):

ブラウザは、期限切れのキャッシュされたレスポンスを見つけると、小さなトークン（通常はファイルのコンテンツのハッシュ）をサーバーに送信して、ファイルが変更されたかどうかを確認できます。サーバーから同じトークンが返された場合は、ファイルは同じであるため、再度ダウンロードする必要はありません。

### [Last-Modified](https://developer.mozilla.org/docs/Web/HTTP/Headers/Last-Modified): 

1999 年当時のキャッシュ保存のデフォルト設定。
このヘッダーの目的は ETag と同じですが、ETag のコンテンツ ベースの戦略ではなく時間ベースの戦略を使用して、リソースが変更されたかどうかを判断します。

---

HTTPキャッシュとは異なるものとして[BFキャッシュ](https://web.dev/articles/bfcache?hl=ja)もある。

---

[HTTP キャッシュ - HTTP | MDN](https://developer.mozilla.org/ja/docs/Web/HTTP/Caching)

[キャッシュを大切に ❤️  |  Articles  |  web.dev](https://web.dev/articles/love-your-cache?hl=ja)

[HTTP キャッシュを使用して不要なネットワーク リクエストを防止する  |  Articles  |  web.dev](https://web.dev/articles/http-cache?hl=ja)

# 3章 : Go言語によるHTTP/1.0クライアントの実装

1、2章の内容を実際に curlコマンド（Go言語でGET/POSTメソッドを叩く）で確認するやつ。
curlでも動作確認はできるから、GO言語を学びたい（組み込みインターフェースの説明が主）以外の理由がなければ別にさらっ〜と読み飛ばしていいかも。

Golangでここら辺を実装する際は読み直すといいのかも、、、？

## HTTP/1.1におけるプロトコルシンタックスの変更点

4章では以下の項目の中でもTLSの説明に多くのページを割かれている。（それほどHTTP/1.1におけるTLSのサポートのインパクトが大きかったと言うこと？？）

- 通信の高速化（`Keep-Alive`がデフォルトで有効）
- **TLSによる暗号化通信のサポート**
- 新メソッドの追加（PUTとDELETEが必須メソッドになる・OPTION、TRACE、CONNECTメソッドが追加）
- プロトコルのアップデート
- 名前を使ったバーチャルホストのサポート
- DATA URIスキーム
- サイズが不明なコンテンツのチャンク転送エンコーディングのサポート

### 最新の仕様

- RFC7230（メッセージの文法）
- RFC7231（セマンティクスと内容）
- RFC7232（条件付きリクエスト）
- RFC7233（選択範囲リクエスト）
- RFC7234（キャッシュ）
- RFC7235（認証）

## Keep-Alive

- HTTPの下のレイヤーであるTCP/IPの通信を効率化する仕組み。（HTTP/2からは常に有効）
- 有効化することで連続したリクエストに対して接続を再利用する。
- 何度も繰り返すサーバー/クライアント間の2RTT（ラウンドトリップタイム）を削減することで、通信速度の効率化につながる
- 接続の終了は？　👉 タイムアウトで接続が切れることを待つ。（サーバーから Keep-Alive の終了を明示的に送信することは難しい）

## TLS（トランスポート・レイヤー・セキュリティ）

<img width="619" alt="image" src="https://github.com/yanachuwan9sm/til/assets/95360878/06e52d87-edc3-4da9-ada1-c27e8e608802">

- SSL(SecureSockesLayer)/TLS(TransportLayerSecurity)は、暗号化・改ざん検知・認証機能を提供するトランスポート層の上位層に位置するプロトコル。
- SSL/TLSはトランスポート層で動作するものであり、TCPアプリケーションプロトコルを暗号化対象とするもの
- HTTPSは、Webサイトの閲覧等に使われるHTTPをSSL/TLSプロトコル上で利用するプロトコルであり、SSL/TLSの代表作。


### 通信相手の証明

次に、クライアントは本当に本物のサーバーと通信しているのかをサーバー側から提示されるサーバー証明書を使って確認します。サーバーは自身のサーバー証明書をクライアントに送ることで「自分が本物である」ということを示します。クライアントは受け取ったサーバー証明書を検証（ルート証明書で復号→MD比較）し、本物のサーバーであることを確認します。


## TLSによる暗号化通信

#13 にて別途切り出し

概要だけは復習したけど、TLS 1.3 の TLSハンドシェイクのシーケンスやら鍵交換アルゴリズム周りには全く触れていないので、ガッツリ学ぶまで行かなくとも、HTTP/3 における TLS の立ち位置やらセキュリティの部分は普段からアンテナを立てておく必要があるな〜と思った。

OPTIONとCONNECTメソッドっていつ使うんですか、、、？

##  5章 : HTTP/1.1のセマンティクス : 広がるHTTPの用途

### XMLHttpRequest

これが誕生するまでは、デフォルトのHTTPリクエストしか無かった。（裏技的なものはあった）
これにより以下のメリットが生まれた。
- 送受信時に画面がリロードされない
- メソッドとしてGETやPOST以外も送信できる
- プレーンテキスト、JSON、バイナリデータなど様々なフォーマットが送受信できる（formDataにおいては、キーと値が 1:1 になっている形式のデータしか対応していない）

ただし、便利な反面セキュリティの強化する観点から、Sama Origin Policy や CORS が生まれた。

XMLと何が関係あるん？ってずっと疑問に思ってたけど、
IEに無理やり組み込むために、XML処理ライブラリのリリースと被せるにあたって
HTTP用途のものなのに、便宜上「XML」と言う名前がついたものがリリースされたのか。
歴史を知るとなかなか面白い由来。

### RPC

そこまで深くない、これまでのRPCの歴史がさらっ〜と書いてある程度。
そんなにしっかりではなくゆるく読んだぐらい。
HTTP 1.1 が出来たぐらいに生まれたもので歴史があるんだな〜と言う温度感。
XML-RPC > SOAP > JSON-RPC

### WebDAV

HTTPプロトコルを拡張した分散ファイルサービスの事らしい。（知らんかった）

この技術を活用して現在普及しているサービスで言うと、Googleドライブなどのオンラインストレージ・サービス（クラウド上で複数の利用者が、ファイル共有とその場での編集作業を比較的安全に行うことが可能）

HTTPは、自組織への不正侵入を防ぐためにプロトコルに応じて出入りを許可したり禁止したりすることでセキュリティレベルを維持する仕組み（ファイアウォール）を通過できるから、HTTPを拡張し、WebDAVでファイル共有という機能を実現しちゃおぜ！的なモチベなのかな？？？

### 認証・認可プラットフォーム

HTTPプロトコルに機能が増えてリッチなアプリケーションになるにあたって、
アプリケーションとして出来ることが増えた = 認証・認可の重要性が高まってきたからこの章で紹介されてる感じ？？とりあえず今現在でもマストで抑えている必要がある部分ではある。

- シングルサインオン（Kerberos認証 やら OpenSocial もある）
- SAML（Security Assersion Markup Language）
- **OAuth**
- **OpenID Connect**

↓ OpenID関連技術仕様の日本語訳や、プレゼンテーション資料、その他各種文書
https://openid.or.jp/document/

**認証・認可プラットフォームに関しては、ざっくり読んで別途ちゃんとやる！！**

↓OAuth、OpenID Connect についてはScrapboxでまとめた↓
https://scrapbox.io/trashbox97/OAuth
https://scrapbox.io/trashbox97/OpenID_Connect

## 6章 : GO言語によるHTTP/1.1クライアントの実装

とりあえず後回し。（後でやる）

## 7章 : HTTP/2、HTTP/3のシンタックス : プロトコルの再定義

HTTP/2の大きな目的は「通信の高速化」。HTTP/1.1からの変更点は以下の通り。

・ストリームを使ってバイナリデータを多重に送受信する仕組みに変更
・ストリーム内での優先順位や、サーバーサイドからデータ通信を行うサーバーサイドプッシュを実装
・ヘッダー部が圧縮されるようになった。

